[Desktop Entry]
Name=App Install
Comment=Simple package installer for Linux
Exec=/usr/bin/appinstall %U
Icon=es.inled.AppInstall
Terminal=false
Type=Application
Categories=Utility;System;
StartupNotify=false
Keywords=install;package;deb;rpm;appimage;pacman;arch;
MimeType=application/vnd.debian.binary-package;application/x-deb;application/x-debian-package;application/x-alpm-package;application/x-arch-package;application/vnd.archlinux.package;application/x-pacman-package;application/x-zstd-compressed-tar;application/x-xz-compressed-tar;application/x-tar;application/x-redhat-package-manager;application/x-rpm;application/x-appimage;x-scheme-handler/appstream;x-scheme-handler/snap;x-scheme-handler/flatpak;x-scheme-handler/flatpak+https;

